*{margin:0;padding:0;box-sizing:border-box;font-family:Poppins}
body{background:#f5f7fa;color:#333}

.header{
  display:flex;justify-content:space-between;
  padding:15px 30px;background:#023047;color:#fff;
}
.header a{color:#fff;text-decoration:none;margin-left:15px}

.hero{
  min-height:90vh;
  background:linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),
  url('https://images.unsplash.com/photo-1501117716987-c8e1ecb210c9') center/cover;
  display:flex;flex-direction:column;
  justify-content:center;align-items:center;
  text-align:center;color:#fff;
}

.btn{
  background:#ffb703;color:#000;
  padding:15px 35px;border-radius:30px;
  text-decoration:none;font-weight:600;
}

.btn-small{
  display:inline-block;margin-top:10px;
  padding:10px 25px;background:#219ebc;
  color:#fff;border-radius:25px;text-decoration:none;
}

.features,.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:25px;padding:60px;
}

.card,.hotel-card{
  background:#fff;padding:20px;
  border-radius:15px;
  box-shadow:0 10px 25px rgba(0,0,0,.1);
  opacity:0;transform:translateY(40px);
  transition:.6s;
}

.hotel-card img{width:100%;border-radius:10px}

.animate.show{opacity:1;transform:translateY(0)}

footer{
  text-align:center;padding:20px;font-size:.85rem;
}
